.product-assoc {
    position: relative;
    margin: 20px 0 5px 0;
}
.product-assoc-items .owl-item {
    border-left: 1px #E8E8E8 solid;
}
.product-assoc-items .owl-item:first-child {
    border-left: 1px #fff solid;
}

.ceil-price {
    padding: 5px;
}

.ceil-price.price-old {
    color: black;
    font-size: 12px;
    text-decoration: line-through;
}
.ceil-price.price-sale {
    color: red;
    font-size: 12px;
}

.price-discount {
    color: green;
    font-size: 22px;
    position: absolute;
    z-index: 10;
    right: -5px;
    top: -10px;
    border-radius: 50px;
    background-color: #e7f7e6;
    padding: 14px 8px;
    height: 60px;
    width: 60px;
    transition: all 200ms ease-in-out;
    -moz-transition: all 0.2s ease-in-out 0.1s;
    -webkit-transition: all 0.2s ease-in-out 0.1s;
}

.product-assoc-item a:hover {
    text-decoration: none;
}

.product-assoc .image-nav-prev {
    left:-20px;
}
.product-assoc .image-nav-next {
    right:-20px !important;
}


.product-assoc-item {
    padding: 1px;
    background-color: white;
    border: 1px solid #fff;
    transition: all 200ms ease-in-out;
    -moz-transition: all 0.2s ease-in-out 0.1s;
    -webkit-transition: all 0.2s ease-in-out 0.1s;
}

.product-assoc-item:hover {
    border: 1px solid #ccc;
}
.product-assoc h3 {
    border-bottom: 2px #7D7D7D solid;
    width: 100%;
}