.sidebar li.active a {
    font-weight: bold;
}


.sidebar ul {
    padding-left: 10px;
}
.sidebar li {
    list-style-type: none;
}

.category-sidebar-menu {

}

.category-sidebar-menu a {
    color: #4c4c4c;
    display: block;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease
}

.category-sidebar-menu a:hover {
    color: #000;
    text-decoration: none;
}

.category-sidebar-menu a small {
    color: #a9a9a9;
    font-weight: normal;
}