.im-catalog-ceil {
    float: left;
    position: relative;
    margin: 0 0 15px 2px;
    width: 230px;
    height: 450px;
    overflow: visible;
}

.im-catalog-ceil .item {
    padding: 0 4px;
}

.product-view-image {
    min-height: 320px;
}

.im-catalog-ceil:hover {

}

.im-grid-ceil-outline {
    padding: 1px;
    position: relative;
    background-color: white;
    border: 1px solid #e1f3e0;
    width: 230px;
    height: 450px;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    -moz-transition: all 0.2s ease-in-out 0.1s;
    -webkit-transition: all 0.2s ease-in-out 0.1s;
}

.im-grid-ceil-outline:hover {
    height: auto;
    position: relative;
    overflow: visible;
    z-index: 1000;
    border: 1px solid #ccc;
}

.ceil-block-info {
    overflow-x: hidden;
    padding: 0 6px 2px 6px;
}

.ceil-price {
    padding: 5px;
}

.ceil-price.price-old {
    color: black;
    font-size: 12px;
    text-decoration: line-through;
}
.ceil-price.price-sale {
    color: red;
    font-size: 18px;
}

.price-discount {
    color: green;
    font-size: 22px;
    position: absolute;
    z-index: 10;
    right: -5px;
    top: -10px;
    border-radius: 50px;
    background-color: #e7f7e6;
    padding: 14px 8px;
    height: 60px;
    width: 60px;
    transition: all 200ms ease-in-out;
    -moz-transition: all 0.2s ease-in-out 0.1s;
    -webkit-transition: all 0.2s ease-in-out 0.1s;
}
.im-grid-ceil-outline:hover .price-discount {
    background-color: #d0f7cb;
    font-size: 24px;
    font-weight: bold;

    padding: 15px 9px;
    height: 65px;
    width: 65px;
}


.ceil-name, .ceil-category, .ceil-brand {
    white-space:nowrap;
}

.im-ceil-size {
    display: inline-block;
    padding: 3px;
    border: 1px #ccc solid;
    margin: 0 1px;
}
/**
Per row
*/



.owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    bottom: 1px;
    margin: 0 auto;
}

.pagination {
    display: block !important;
    clear: both;
}

.well {
    overflow: auto;
}

.disabled {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0px;
    border: 0px #ccc solid;
    background-color: transparent;
    color: #B3B3B3;
}

.filter-ceil {
    float: left;
    margin: 2px 5px;
}

.filter-ceil label {
    padding-left: 5px !important;
}

#pjax-filter-filter-3 {
    overflow-x: hidden;
}

#pjax-filter-filter-3 label {
    padding-left: 5px !important;
    white-space: nowrap;
    width: 200px;
}

.im-filters.radio-filter label span {
    font-weight: normal;
    font-style: italic;
    color: #363636;
    cursor: pointer;
    display: inline-block;
    padding: 0px 2px;
    margin: 0 2px;
    transition: color 300ms ease-in-out;
    -moz-transition: color 0.3s ease-in-out 0.1s;
    -webkit-transition: color 0.3s ease-in-out 0.1s;
}

.im-filters.radio-filter label span.active {
    font-weight: bold;
    text-decoration: underline;
    color: #090e5d;
}

.im-filters.radio-filter label span:hover {
    color: #9c9c9c;
}




.filter-title {
    padding: 0px 2px;
    margin: 0 2px;
}

.filter-title span.title{
    cursor: pointer;
    font-style: italic;
    color: #363636;
    transition: color 300ms ease-in-out;
    -moz-transition: color 0.3s ease-in-out 0.1s;
    -webkit-transition: color 0.3s ease-in-out 0.1s;
}


.filter-title:hover  span.title{
    color: #9c9c9c;
}

.filter-title:after {
    font: 14px fontello;
    content: '\25BC';
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    color:#337ab7;
}

.filter-title:hover:after {
    content: '\25B2';
}

/*.filter-title:hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    !* transform: translate(-50%, -50%); *!
    width: 100%;
    height: 22px;
    border: 1px solid #ccc;
    z-index: 1000;
    border-bottom: 2px #fff solid;
}*/

.im-grid-filters-row {
    position: relative;
}

.filter-title .filters-items .filter-item {
    font-size: 12px;
    cursor: pointer;
    color: #9c9c9c;
    font-weight: normal;
    display: inline-block;
    float: left;
    padding: 1px 3px;
    margin: 0px 2px;
    /* background-color: #EDE4FF; */
}

.filter-title .filters-items .filter-item:hover {
    color: #9c6969;
}

.filter-title .filters-items .filter-item-remove {
    color: #ff747b;
    font-weight: bold;
    position: absolute;
    margin-left: -3px;
    margin-top: -3px;
}

.filter-hidden-block {
    display: none;
    z-index: 1001;
    position: absolute;
    top: 20px;
    left: 0;
    width: 500px;
    border: 1px #ccc solid;
    background-color: white;
    padding: 20px;
    transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out 0.1s;
    -webkit-transition: opacity 0.3s ease-in-out 0.1s;
}

.im-filters-ceil {
    margin-bottom: 20px;
    float: left;
    min-width: 200px;
}

.im-filters-ceil>div {
    max-height: 200px;
    overflow-y: auto;
}


.filter-price-badge-start {
    margin-right: 20px;
}

.filter-price-badge-end {
    margin-left: 20px;
}

#pjax-filter-filter-cost {
    padding-top: 30px;
}


.checkbox input[type="checkbox"] {
    display:none;
}
.checkbox input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(checkbox.png) left top no-repeat;
    cursor:pointer;
}
.checkbox input[type="checkbox"]:checked + label span {
    background:url(checkbox.png) -19px top no-repeat;
}

.filter-field select {
    border: none;
    background-color: transparent;
    font-style: italic;
    color: #363636;
    cursor: pointer;
}

.filter-field option{

}

.filter-field option:checked{
    background-color: transparent;
    color: #00a65a;
}

.im-preview-product {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 260px;
    width: 80%;
    text-align: center;
    margin: 0 18px;
    padding: 5px 10px;
    border: 1px #ccc solid;
    background-color: aliceblue;
    opacity: 0;
    transition: all 300ms ease-in-out;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
}

.im-grid-ceil-outline:hover .im-preview-product {
    opacity: 0.7;
}

.im-grid-ceil-outline:hover .corner-ribbon {
    background-color: red;
}

.im-grid-ceil-outline .im-preview-product:hover {
    opacity: 1;
}

.ceil-block-image {
    position: relative;
}

.checkbox small {
    color: #acacac;
}

.im-catalog-ceil .image-nav-prev {
    left: 0;
}


.im-catalog-ceil .image-nav-next {
    right: 0;
}



.im-catalog-ceil  .image-nav-prev, .im-catalog-ceil  .image-nav-next {
    position: absolute;
    width: 30px;
    text-align: center;
    height: 100%;
    z-index: 1000;
    cursor: pointer;
    opacity: 0.2;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}

.im-catalog-ceil:hover {
    overflow: hidden;
}












