.select2-container--krajee .select2-results > .select2-results__options {
    max-height: 400px !important;
}


.select2-results__option--highlighted .price-sale {
    color: #BBFFD4;
}
.select2-results__option--highlighted .price-old {
    color: #333333;
}