.header-brands .navbar-nav > li > .dropdown-menu {
    margin-top: 0px;
    background-color: black;
}

.menu-brand-a {
    font-size: 25px;
    padding: 3px 5px;
    margin: 3px 2px;
}

.menu-brand-a:first-letter {
    color: #ffb6c9; /* Красный цвет первой буквы */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu-brand-a:hover:first-letter {
    color: #664850; /* Красный цвет первой буквы */
}

.menu-brand-sub-a {
    color: #D2D2D2 !important;
}

.header-brands .navbar {
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    min-height: 30px;
}

.header-brands .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #767676;
}

.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}