.cart-widget {
    margin-top: 10px;
}



.cart-widget:hover .cart-modal {
    display: block;
}

.cart-modal {
    display: none;
    padding: 10px;
    position: absolute;
    background-color: whitesmoke;
    border: 1px #ccc solid;
    top: 35px;
    right: 20px;
    width: 600px;
    z-index: 10000;
}

.cart-count {
    color: #0a2b1d;
}
.cart-summ {
    float: left;
}

.cart-variate-error input, .cart-variate-error select{
    border:1px #cc0000 solid;
    background-color: #ccb4b8;
}

.cart-variate-error label {
    color:#cc0000;
}

.cart-item {
    border-bottom: 1px #efefef solid;
}

.cart-items {

}


.cart-modal .bootstrap-touchspin .bootstrap-touchspin-down:hover, .cart-modal .bootstrap-touchspin .bootstrap-touchspin-up:hover {
    opacity: 1;
}

.cart-modal .bootstrap-touchspin .bootstrap-touchspin-down, .cart-modal .bootstrap-touchspin .bootstrap-touchspin-up{
    opacity: 0.4;
}
.cart-modal .bootstrap-touchspin .bootstrap-touchspin-up{
    background-color: #80B1A2;
}

.cart-modal .bootstrap-touchspin .bootstrap-touchspin-down{
    background-color: #E08A98;
}


.cart-items-scroll {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart-page-spninner-down, .cart-page-spninner-up{
    color: #000;
    height: 30px;
    width: 30px;
    border: 1px #ccc solid;
    border-radius: 15px;
    font-size: 20px;
}
.cart-page-spninner-down {
    color: #a20000;
}
.cart-page-spninner-up {
    color: green;
    border: 1px #b8ccbb solid;
    background-color: #c6ccc6;
}

.cart-item-spinner {
 text-align: center;
}
a.cart-page-name-item {
    font-size: 20px;
}

input.cart-item-spinner {
    border:none;
}

.cart-page-item-price {
    text-align: right;
    font-size: 20px;
    padding: 20px 0 0 0;
    color: #585858;
}


.flying-cart-img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    z-index: 5;

    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;

    animation:fly 0.8s 1;
    -webkit-animation:fly 0.8s 1;
    -webkit-backface-visibility: hidden;
}

@keyframes fly {
    0% {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;

        -moz-transform: rotate(0deg); /* Для Firefox */
        -ms-transform: rotate(0deg); /* Для IE */
        -o-transform: rotate(0deg); /* Для Opera */
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-border-radius: 120px;
        -webkit-border-radius: 120px;
        -khtml-border-radius: 120px;
        border-radius: 120px;

        -moz-transform: rotate(360deg); /* Для Firefox */
        -ms-transform: rotate(360deg); /* Для IE */
        -o-transform: rotate(360deg); /* Для Opera */
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fly {
    0% {
        -webkit-border-radius: 10px;
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -webkit-border-radius: 120px;
    }
}

.padding-top-20 {
  padding-top: 20px;
}

.cart-page-sidebar {
    padding: 40px 1px 0 15px;
}

.cart-page-sidebar h4{
    color: #393939;
}
.cart-page-sidebar .cart-total{
    font-size: 20px;
}